* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #ecececd5;
$mainLightGrey: rgb(241, 229, 229);
$mainTransition: all 0.2s linear;

body {
  font-family: "Open Sans", sans-serif;
  background: $mainLightGrey;
  color: $mainBlack;
}
